
@{
    ViewData["Title"] = "Index";
}
<h1 class="text-lg-center text-primary">Welcome, @ViewBag.Username!</h1>
<h1 class="text-lg-center text-primary">Select your role, to continue</h1>
<p class="text-info bg-dark">don't worry you can change it later</p>
<li>
    <input type="radio" id="Choice1" name="role" value="Grabber" />
    <label for="Grabber">Grabber</label>

    <input type="radio" id="Choice2" name="role" value="customer" />
    <label for="customer">Customer</label>
</li>

