@{
	ViewData["Title"] = "Select Roles";
}
@model Grubhub.Models.User
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chakra Petch">

<head>
	<title>Select Role</title>
	<style>
		body {
			background: linear-gradient(to right, hsl(135, 76%, 33%) 50%, #3fc2bb 50%);
			height: 100vh;
			margin: 0;
			font-family: 'Chakra Petch', serif;
		}

		.container {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: start;
			margin: 0 auto;
			position: relative;
		}

		.icon {
			max-width: 50%;
			max-height: 50%;
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;
		}

		.left button:hover {
			transform: translate(-12px, -12px);
		}

			.left button:hover:after {
				transform: translate(6px, 6px);
			}

			.left button:hover:before {
				transform: translate(12px, 12px);
			}

		.right button:hover {
			transform: translate(-12px, -12px);
		}

			.right button:hover:after {
				transform: translate(6px, 6px);
			}

			.right button:hover:before {
				transform: translate(12px, 12px);
			}

		.left {
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 50%;
			max-height: 50%;
			position: absolute;
			left: 10px;
		}

		.right {
			display: inline-block;
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 50%;
			max-height: 50%;
			position: absolute;
			right: 10px;
		}

		.left button {
			border: 2px solid rgb(255, 255, 255);
			background-color: #0ccc1c;
			color: #bbe20b;
			font-size: 40px;
			display: block;
			margin: 40px;
			cursor: pointer;
			width: 80%;
			height: 80%;
		}

		.right button {
			border: 2px solid rgb(255, 255, 255);
			background-color: #1387cab0;
			color: #0cf0dd;
			font-size: 40px;
			display: block;
			margin: 40px;
			cursor: pointer;
			width: 80%;
			height: 80%;
		}

		.svg {
			max-width: 100%;
			max-height: 100%;
		}

		h1 {
			font-size: 36px;
			font-weight: bold;
			text-align: center;
			color: #163c94; /* dark blue color */
		}

		/* Styling for the <h2> tags */
		h2 {
			font-size: 24px;
			font-weight: normal;
			text-align: center;
			margin-top: 30px;
			color: #163c94; /* dark blue color */
		}

	</style>
</head>

<body>
	<h1>Welcome, @Model.Username!! your Id @Model.Id to Grubhub friend delivery</h1>
	<h2>Please, select your want Roles</h2>
	<h2>don't worry you can change it later</h2>
	<div class="container">

		<form method="post" asp-controller="User" asp-action="SelectRoles">
			<input type="hidden" name="userId" value="@Model.Id" />
			<input type="hidden" name="username" value="@Model.Username" />

			<div class="left">
				<button type="submit" id="btt" name="selectedRole" value="Customer">
					<img src="~/select_Role/rice-svgrepo-com.svg" class="icon" />
					CUSTOMER
				</button>
			</div>

			<div class="right">
				<button type="submit" id="btt" name="selectedRole" value="Grabber">
					<img src="~/select_Role/electric-car-svgrepo-com.svg" class="icon" />
					GRABBER
				</button>
			</div>
		</form>

	</div>


</body>

</html>